<html>
<body>

<form action="/submit" method='post'>
  <label for="string_fname">What is their Name?</label><br>
  <input type="text" id="string_fname" name="fname" placeholder="name" required><br>

  <label for="string_name">What is the String they want?</label><br>
  <input type="text" id="string_name" name="string" placeholder="type w/ gauge" required><br>

  <label for="string_tension">What tension do they want?</label><br>
  <input type="text" id="string_tension" name="tension" placeholder="number" required><br>

  <label for="string_date">When do they want it by?</label><br>
  <input type="text" id="string_date" name="date" placeholder="day with time" required><br>

  <label for="string_number">What is their phone number?</label><br>
  <input type="text" id="string_number" name="number" placeholder="123-456-7890" required><br>

  <label for="string_dp">Did they pay already? (y/n)</label><br>
  <input type="text" id="string_dp" name="pay" placeholder="y/n" required><br>


  <br><br>
  <input type="submit" value="Submit">
</form>

<form action="/done">
  <input type="submit" value="Done With Racket">
</form>



</body>
</html>