<!DOCTYPE html>
<html>
<body>
    <h1>  The Customer with the following info has been added:</h1>
    <h3>    Name: {{name}} </h3>
    <h3>    Phone Number: {{number}} </h3>
    <h3>    String Type: {{type}} </h3>
    <h3>    String Tension: {{tension}} </h3>
    <h3>    String Return Date Wanted: {{date}} </h3>
    <h3>    With Payment Status as : {{dp}} </h3>
    <h3>    CUSTOMER ID NUMBER IS: {{id}}</h3>
    <br>
    <br>
    <form action="/print">
      <input type="submit" value="Print Labels">
    </form>

</body>
</html>